body {
    background-color: #300a24;
    margin:0px;
    padding-top: 5%;
}

#nav {
    text-align: center;
    display:inline-block;
    width: 100%;
    height:auto;
    top:0;
    position:fixed;
    background-color: #888;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    box-shadow: 2px 2px 1px #666;
}

#home > h1 {
    margin:0;
    font-size: 30;
}

.link > a > h3 {
    margin: 5px 0 5px 0;
}

#home {
    color: black;
    text-decoration: none;
    font-family:'Helvetica';
    margin: 10px 15px 5px 10px;
    text-shadow: 2px 2px 1px #444;
    display:inline-block;
    text-align: left;
    float:left;
}

.link {
    display: inline-block;
    margin: 0 15px 0 15px;
}

#links {
    display: inline-block;
    float: right;
}

#nav > #links > .link > a {
    color: darkslateblue;
    font-family:'Geneva';
    text-decoration: none;
}

@media (max-width: 700px) {

    #nav > #links {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        width:100%;
    }

    #nav > #links > .link {
        float: none;
        margin: 0 10px 0 10px;
    }

    #home {
        text-align: center;
        width:100%;
        margin:10px 0 0 0;
    }
}

#content-holder {
    margin: 5%;
    width: 90%;
    height: audo;
}

#footer {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #888;
    width:90%;
    padding: 3% 5% 2% 5%;
    font-family: 'Arial';
	position:relative;
	bottom:0;
    left:0;
}

#foter > div {
    color: #FFF;
}

#license {
    display: block;
    background-color: #AAA;
    box-shadow: 2px 2px 1px #666;
    margin: 5%;
    padding: 2%;
}

.content {
    border-radius: 5%;
    background-color: rgba(200, 200, 200, 0.85);;
    box-shadow: 2px 2px 1px #666;
    text-decoration: none;
    margin-bottom: 5%;
    padding:2%;
}
